small {
    color: gray;
}

/* Components */
.alert {
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 25px;
    opacity: 0.90;
    cursor: pointer;
}

.alert:hover {
    opacity: 1;
}
.act {
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.error-small {
    color: red;
    font-size: 15px;
    font-style: italic;
}
#exit {
    text-align: right;
    float: right;
    padding: 8px;
    cursor: pointer;
    font-size: 17px;
}

.form-group {
    float: left;
    margin: 20px;
}
@media screen and (max-width: 750px) {
    .form-group {
        float: none;
        margin: 0px;
    }
}
.room {
    float: left;
    margin-right: 5px;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid gray;
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid gray;
  }
