body, html {
    font-family: 'Lato', sans-serif;
}
small {
    color: gray;
}
nav {
   margin-right: 50px;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    float: right;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    cursor: crosshair;
}
li a:hover {
    color: white;
    opacity: 0.8;
    cursor: crosshair;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #1eaedb;
    color: white;
}
#logo {
    width: 55px;
}
.back-link {
    font-size: 25px;
    margin-right: 25px;
}
/* Components */
.alert {
    width: 300px;
    margin: 10px;
    opacity: 1;
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;   
    border: 10px double white;
    box-shadow: -3px 6px 13px -4px rgba(33,31,33,1);
}
.sortable {
    cursor: pointer;
}
.alert:hover {
    opacity: 1;
}
.act {
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

.error-small {
    color: red;
    font-size: 15px;
    font-style: italic;
}
#exit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 15px;
}

.form-group {
    margin: 20px;
}
#side-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: #1eaedb;
}
@media screen and (max-width: 750px) {
    .form-group {
        float: none;
        margin: 0px;
    }
    .hideable {
        display: none;
    }
    #side-bar {
        display: none;
    }
}
.room {
    float: left;
    width: 12px;
    margin-right: 3px;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid gray;
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid gray;
  }
