<h2>User Details</h2>
<hr>
<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Last Name:</strong>
    <%= @user.lastname %>
  </li>

  <li>
      <strong>Notes:</strong>
      <%= @user.note %>
  </li>

</ul>

<span class="back-link"><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span class="back-link"><%= link "Back", to: user_path(@conn, :index) %></span>
